<!-- ========== FOOTER ========== -->
<div class=" bg-cyan-800 dark:bg-white-500 relative overflow-hidden">
<footer class="mt-auto w-full max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 mx-auto">
    <!-- Grid -->
    <div class="text-center">
      <div>
        <a class="flex-none text-xl font-semibold text-white" href="#" aria-label="Brand">Zarfan Zyad</a>
      </div>
      <!-- End Col -->
  
      <div class="mt-3">
        <p class="text-gray-400">
          © 2025 Made with <a href =https://flask.palletsprojects.com/en/stable> <span class="text-blue-800">Flask</a></span> + <a href =https://tailwindcss.com><span class="text-cyan-500">Tailwind CSS</span>+ <a href =https://preline.co><span class="text-purple-500">Preline UI</span> 😊.
        </p>
      </div>
  
      <!-- Social Brands -->
      <div class="mt-3 space-x-2">
        <a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-400 hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" href="https://www.linkedin.com/in/zarfan-zyad-613aa9253/">
            <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="4 4 16 16">
              <path d="M19.207,3H4.793L3,4.793v14.414L4.793,21h14.414L21,19.207V4.793L19.207,3z M9.237,16H7.063V9.962h2.174V16z M8.11,8.857	C7.445,8.857,7,8.412,7,7.819c0-0.589,0.445-1.033,1.186-1.033c0.665,0,1.105,0.445,1.105,1.033C9.291,8.412,8.851,8.857,8.11,8.857	z M17,16h-2.107v-3.302c0-0.912-0.562-1.123-0.773-1.123c-0.211,0-0.912,0.144-0.912,1.123c0,0.144,0,3.302,0,3.302h-2.174V9.962	h2.174v0.845c0.283-0.494,0.845-0.845,1.896-0.845S17,10.807,17,12.698V16z"></path>

            </svg> 
        </a>
        <a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-400 hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" href="https://github.com">
          <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
          </svg>
        </a>
      </div>
      <!-- End Social Brands -->
    </div>
    <!-- End Grid -->
  </footer>
  <!-- ========== END FOOTER ========== -->
  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
    </svg>