<!-- Hero -->
<div class=" bg-cyan-800 overflow-hidden">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10 sm:py-24">
    <div class="text-center">
      <h1 class="underline underline-offset-8 decoration-3 decoration-yellow text-6xl  font-bold text-white">
        My <span class="text-blue-400">Works</span> 
      </h1>
      <div class="mt-7 sm:mt-12 mx-auto max-w-xl relative">
        <!-- SVG Element (Orange Line) -->
        <div class="hidden md:block absolute top-0 end-0 -translate-y-38 -translate-x-23">
          <svg class="w-16 h-auto text-orange-500" width="121" height="200" viewBox="0 0 121 135" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 16.4754C11.7688 27.4499 21.2452 57.3224 5 89.0164" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
            <path d="M33.6761 112.104C44.6984 98.1239 74.2618 57.6776 83.4821 5" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
            <path d="M50.5525 130C68.2064 127.495 110.731 117.541 116 78.0874" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
          </svg>
        </div>
        <!-- End SVG Element -->

        <!-- SVG Element (Blue Line)-->
        <div class="hidden md:block absolute bottom-0 start-0 translate-y-2 -translate-x-0">
          <svg class="w-40 h-auto text-cyan-300" width="347" height="188" viewBox="0 0 347 188" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 82.4591C54.7956 92.8751 30.9771 162.782 68.2065 181.385C112.642 203.59 127.943 78.57 122.161 25.5053C120.504 2.2376 93.4028 -8.11128 89.7468 25.5053C85.8633 61.2125 130.186 199.678 180.982 146.248L214.898 107.02C224.322 95.4118 242.9 79.2851 258.6 107.02C274.299 134.754 299.315 125.589 309.861 117.539L343 93.4426" stroke="currentColor" stroke-width="7" stroke-linecap="round"/>
          </svg>
        </div>
        <!-- End SVG Element -->
      </div>
    </div>
  </div>
</div>
<!-- End Hero -->

<!-- Timeline -->
<div class = "bg-cyan-800 px-15">
  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon -->
    <div class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-400">
      <div class="relative z-10 size-6 flex justify-center items-center">
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-400">
        2023 - Present
      </h3>

      <p class="font-semibold text-sm text-white">
        Web Designer & Web Developer
      </p>

      <p class="mt-1 text-sm text-gray-400">
        The company has high expectations and using OKRs there is a mutual understanding of expectations and performance.
      </p>

      <ul class="list-disc ms-6 mt-3 space-y-1.5">
        <li class="ps-1 text-sm text-gray-400">
          Designed template UIs and design systems in Figma.
        </li>
        <li class="ps-1 text-sm text-gray-400">
          Converted UIs into responsive HTML and CSS with a mobile-first approach.
        </li>
        <li class="ps-1 text-sm text-gray-400">
          Created custom illustrations and item description banners.
        </li>
        <li class="ps-1 text-sm text-gray-400">
          Provided detailed documentation and customer support on GitHub.
        </li>
        <li class="ps-1 text-sm text-gray-400">
          Engaged with users to address setup inquiries, bug issues, and feedback.
        </li>
      </ul>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->

  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon -->
    <div class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-400">
      <div class="relative z-10 size-6 flex justify-center items-center">
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-400">
        2021 - 2023
      </h3>

      <p class="font-semibold text-sm text-white">
        Senior Software Engineer at Mailchimp
      </p>

      <p class="mt-1 text-sm text-gray-400">
        This is an excellent company and they reward their employees. It's becoming a big company but it's still private, so the culture is as good as it gets at 1,000+ employees if you ask me. Managers are still adapting to the growth I think, but everyone has to. Great place to work.
      </p>

      <div class="mt-3">
        <!-- Card -->
        <a class="block border border-gray-400 rounded-lg hover:shadow-2xs focus:outline-hidden" href="#">
          <div class="relative flex items-center overflow-hidden">
            <img class="w-32 sm:w-48 h-full absolute inset-0 object-cover rounded-s-lg" src="https://images.unsplash.com/photo-1661956600655-e772b2b97db4?q=80&w=560&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Blog Image">

            <div class="grow p-4 ms-32 sm:ms-48">
              <div class="min-h-24 flex flex-col justify-center">
                <h3 class="font-semibold text-sm text-gray-400">
                  Studio by Mailchimp
                </h3>
                <p class="mt-1 text-sm text-gray-400">
                  Produce professional, reliable streams easily leveraging Mailchimp's innovative broadcast studio.
                </p>
              </div>
            </div>
          </div>
        </a>
        <!-- End Card -->
      </div>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->

  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon -->
    <div class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-400">
      <div class="relative z-10 size-6 flex justify-center items-center">
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-400">
        2011 - 2021
      </h3>

      <p class="font-semibold text-sm text-white">
        Junior Software Engineer at Slack
      </p>

      <p class="mt-1 text-sm text-gray-400">
        Work in Slack is one of the beautiful experience I can do in my entire life. There are a lot of interesting thing to learn and manager respect your time and your personality.
      </p>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->

  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon -->
    <div class="relative group-last:after:hidden after:absolute after:top-8 after:bottom-2 after:start-3 after:w-px after:-translate-x-[0.5px] after:bg-gray-400">
      <div class="relative z-10 size-6 flex justify-center items-center">
      </div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-400">
        2010 - 2011
      </h3>

      <p class="font-semibold text-sm text-white">
        Freelance Graphic Designer
      </p>

      <ul class="list-disc ms-6 mt-3 space-y-1.5">
        <li class="ps-1 text-sm text-gray-400">
          Worked with a diverse range of clients, delivering tailored design solutions.
        </li>
        <li class="ps-1 text-sm text-gray-400">
          Developed and maintained strong client relationships through effective communication and project management.
        </li>
        <li class="ps-1 text-sm text-gray-400">
          Utilized tools such as Notion for project tracking, Mailchimp for email marketing designs, Slack for team collaboration, and GitHub for version control and project sharing.
        </li>
      </ul>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->
</div>
<!-- End Timeline -->