<!-- Hero -->
<div class=" bg-cyan-800 overflow-hidden">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10 sm:py-24">
    <div class="text-center">
      <h1 class="underline underline-offset-8 decoration-3 decoration-yellow text-6xl  font-bold text-white">
        My <span class="text-blue-400">Works</span> 
      </h1>
      <div class="mt-7 sm:mt-12 mx-auto max-w-xl relative">
        <!-- SVG Element (Orange Line) -->
        <div class="hidden md:block absolute top-0 end-0 -translate-y-38 -translate-x-23">
          <svg class="w-16 h-auto text-orange-500" width="121" height="200" viewBox="0 0 121 135" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 16.4754C11.7688 27.4499 21.2452 57.3224 5 89.0164" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
            <path d="M33.6761 112.104C44.6984 98.1239 74.2618 57.6776 83.4821 5" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
            <path d="M50.5525 130C68.2064 127.495 110.731 117.541 116 78.0874" stroke="currentColor" stroke-width="10" stroke-linecap="round"/>
          </svg>
        </div>
        <!-- End SVG Element -->

        <!-- SVG Element (Blue Line)-->
        <div class="hidden md:block absolute bottom-0 start-0 translate-y-2 -translate-x-0">
          <svg class="w-40 h-auto text-cyan-300" width="347" height="188" viewBox="0 0 347 188" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 82.4591C54.7956 92.8751 30.9771 162.782 68.2065 181.385C112.642 203.59 127.943 78.57 122.161 25.5053C120.504 2.2376 93.4028 -8.11128 89.7468 25.5053C85.8633 61.2125 130.186 199.678 180.982 146.248L214.898 107.02C224.322 95.4118 242.9 79.2851 258.6 107.02C274.299 134.754 299.315 125.589 309.861 117.539L343 93.4426" stroke="currentColor" stroke-width="7" stroke-linecap="round"/>
          </svg>
        </div>
        <!-- End SVG Element -->
      </div>
    </div>
  </div>
</div>
<!-- End Hero -->
<!-- Grid -->
<div class="bg-cyan-800 grow pb-8 group-last:pb-0">
  <div class="grid grid-flow-col grid-rows-2 gap-5">
    <div>
      <div class="p-4 border border-white rounded-lg">
        <div class="shrink-0">
          <img class="shrink-0 size-25 rounded-full" src="{{ url_for('static', filename='image/to-do-list.png') }}" alt="Avatar">
        </div>
        <p class="font-semibold text- text-blue-400">
          To-Do List App
        </p>
        <p class="font-semibold text-sm text-white">
        Tech Used: Python
        </p>
        <p class="font-semibold text-sm text-white">
          A simple command-line task manager that lets users add, mark, and delete tasks. This was one of my first projects and helped me build a strong foundation in Python logic, loops, and working with lists and files.
        </p>
        <p class="mt-1 text-sm  hover:text-blue-600  dark:text-blue-900">
          <span class="text-gray-400">github link: </span> <a href = "https://github.com/PromptoZ9/To-Do-List.git">https://github.com/PromptoZ9/To-Do-List.git</a>
        </p>
      </div>
    </div>
    <div>
      <div class="p-4 border border-white rounded-lg">  
        <div class="shrink-0">
          <img class="shrink-0 size-25 rounded-full" src="{{ url_for('static', filename='image/wallet.png') }}" alt="Avatar">
        </div>
        <p class="font-semibold text-xl text-blue-400">
          Expense Tracker 
        </p>
        <p class="font-semibold text-sm text-white">
          Tech Used: Python
        </p>
        <p class="font-semibold text-sm text-white">
          An interactive terminal-based app where users can log expenses, view summaries, and track their spending. Built using file handling and basic data structures to simulate persistent storage. This project strengthened my skills in data manipulation and user interaction.
        </p>
        <p class="mt-1 text-sm  hover:text-blue-600  dark:text-blue-900">
          <span class="text-gray-400">github link: </span> <a href = "https://github.com/PromptoZ9/Expense_Tracker.git">https://github.com/PromptoZ9/Expense_Tracker.git</a>
        </p>
      </div>
    </div>
    <div>
      <div class="p-4 border border-white rounded-lg">
        <div class="shrink-0">
          <img class="shrink-0 size-25 rounded-full" src="{{ url_for('static', filename='image/finance_manager.png') }}" alt="Avatar">
        </div>
    
        <p class="font-semibold text-xl text-blue-400">
          Personal Finance Manager
        </p>
        
        <p class="font-semibold text-sm text-white">
          Tech Used: Python
        </p>

        <p class="font-semibold text-sm text-white">
          A more advanced console application combining budget setting, expense tracking, and monthly overviews. This project pushed me to organize code better using functions and modules, while improving logic flow and user input validation.
        </p>
    
        <p class="mt-1 text-sm  hover:text-blue-600  dark:text-blue-900">
          <span class="text-gray-400">github link: </span> <a href="https://github.com/PromptoZ9/FinanceManager.git">https://github.com/PromptoZ9/FinanceManager.git</a>
        </p>
      </div>
    </div>
    <div>
      <div class="p-4 border border-white rounded-lg">

        <div class="shrink-0">
          <img class="shrink-0 size-25 rounded-full" src="{{ url_for('static', filename='image/code.png') }}" alt="Avatar">
        </div>
    
        <p class="font-semibold text-xl text-blue-400">
          Portfolio Website 
        </p>

        <p class="font-semibold text-sm text-white">
          Tech Used: Flask,HTML, Jinja2
        </p>
    
        <p class="font-semibold text-sm text-white">
          This is my first web-based project using Flask. It serves as a personal portfolio to showcase my Python projects and learning journey. It uses HTML and CSS for structure and styling, and Flask to manage routing and templating. A great step forward into web development.
    
          <p class="mt-1 text-sm  hover:text-blue-600  dark:text-blue-900">
            <span class="text-gray-400">github link: Your looking at it 😊</span>
          </p>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Grid -->