{% extends 'layout.html' %}
{% block blockname %}
    About Me
{% endblock blockname %}

{% block body %}
    <!-- Profile -->
<div class=" bg-cyan-800 flex items-center gap-x-3 px-8 pt-8">
    <div class="shrink-0">
      <img class="shrink-0 size-16 rounded-full" src="{{ url_for('static', filename='image/head.jpg') }}" alt="Avatar">
    </div>
  
    <div class="grow">
      <h1 class="text-lg font-medium text-blue-400">
        Zarfan Zyad
      </h1>
      <p class="text-sm text-white">
        Python Enthusiast
      </p>
    </div>
  </div>
  <!-- End Profile -->
  <!-- About -->
  <div class="bg-cyan-800 py-2">
    <h2 class="text-lg font-medium px-4 pt-4">
      <p class="text-sm text-neutral-400">
        Hi! I'm a beginner Python backend developer from Indonesia. I got my bachelor degree on chemical engineering in 2024. in my college year I learned how to use python for data analysis, data visualization, and mathematical calculation for my bachelor degree project.
      </p>
    
      <p class="mt-3 text-sm text-neutral-400">
        I started my journey with Python and quickly became interested in how web apps work behind the scenes. Right now, I'm focused on developing web applications using Flask and HTML, and I've already built a few projects like a to-do list app, expense tracker, and a finance manager. 
      </p>
    
      <p class="mt-3 text-sm text-neutral-400">
         I enjoy solving problems with code and learning how to make apps that are both useful and cleanly built. My current goal is to improve my backend skills, learn more about FastAPI and databases, and eventually become a full-stack developer. I'm always excited to take on new challenges and keep growing.
      </p>
  
    </h2>
    
    <ul class="mt-5 flex flex-col gap-y-3 px-4">
  
      <li class="flex items-center gap-x-2.5">
        <svg class="shrink-0 size-3.5 text-gray-800" xmlns="" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" ><path d="M19.13 5.09C15.22 9.14 10 10.44 2.25 10.94"/>
          <path d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z"></path>
        </svg>
        <a class="text-[13px] text-neutral-400 underline hover:text-gray-800 hover:decoration-2 focus:outline-hidden focus:decoration-2" href="https://www.instagram.com/zarfan_zyad">
          Instagram
        </a>
      </li>

      <li class="flex items-center gap-x-2.5">
        <svg class="shrink-0 size-3.5 text-gray-800" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.1881 10.1624L22.7504 0H20.7214L13.2868 8.82385L7.34878 0H0.5L9.47944 13.3432L0.5 24H2.5291L10.3802 14.6817L16.6512 24H23.5L14.1881 10.1624ZM11.409 13.4608L3.26021 1.55962H6.37679L20.7224 22.5113H17.6058L11.409 13.4613V13.4608Z" fill="currentColor"/>
        </svg>
        <a class="text-[13px] text-neutral-400 underline hover:text-gray-800 hover:decoration-2 focus:outline-hidden focus:decoration-2" href="https://x.com/PromptoZ9">
          X App
        </a>
      </li>
    </ul>
  </div>
  <!-- Contact -->
<div class="bg-cyan-800">
  <div class="max-w-5xl px-4 xl:px-0 py-10 lg:py-20 mx-auto">
    <!-- Title -->
    <div class="max-w-3xl mb-10 lg:mb-14">
      <h2 class="text-white font-semibold text-2xl md:text-4xl md:leading-tight">Contact me</h2>
      <p class="mt-1 text-neutral-400">Got a project or just want to chat? I’m all ears</p>
    </div>
    <!-- End Title -->

    

    
    <!-- Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-10 lg:gap-x-16">
      <div class="md:order-2 border-b border-neutral-800 pb-10 mb-10 md:border-b-0 md:pb-0 md:mb-0">
        <form method="POST">
          {{ form.csrf_token }}
          <div>
            {{ form.name.label(class="block text-sm font-medium text-white mb-2") }}
            {{ form.name(class="w-full p-3 bg-neutral-800 text-white rounded-lg border border-transparent placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500") }}
          </div>
        
          <!-- Email -->
          <div>
            {{ form.email.label(class="block text-sm font-medium text-white mb-2") }}
            {{ form.email(class="w-full p-3 bg-neutral-800 text-white rounded-lg border border-transparent placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500") }}
          </div>
        
          <!-- Company (optional) -->
          <div>
            {{ form.company.label(class="block text-sm font-medium text-white mb-2") }}
            {{ form.company(class="w-full p-3 bg-neutral-800 text-white rounded-lg border border-transparent placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500") }}
          </div>
        
          <!-- Description -->
          <div>
            {{ form.description.label(class="block text-sm font-medium text-white mb-2") }}
            {{ form.description(class="w-full h-40 p-3 bg-neutral-800 text-white rounded-lg border border-transparent placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 resize-none") }}
          </div>
          {% include 'components/flash_message.html' %}
          <!-- Submit Button -->
          <div class="pt-4">
            <button class="group inline-flex items-center gap-x-2 py-2 px-3 bg-[#ff0] font-medium text-sm text-neutral-800 rounded-full focus:outline-hidden">
              Submit
            </button class= "shrink-0 size-4 transition group-hover:translate-x-0.5 group-hover:translate-x-0 group-focus:translate-x-0.5 group-focus:translate-x-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="m12 5 7 7-7 7">
          </div>
        </form>
      </div>
      <!-- End Col -->

      <div class="space-y-14">
        <!-- Item -->
        <div class="flex gap-x-5">
          <svg class="shrink-0 size-6 text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"/><circle cx="12" cy="10" r="3"/></svg>
          <div class="grow">
            <h4 class="text-white font-semibold">My address:</h4>

            <address class="mt-1 text-neutral-400 text-sm not-italic">
              Tangerang<br>
              Banten, Indonesia
            </address>
          </div>
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="flex gap-x-5">
          <svg class="shrink-0 size-6 text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M21.2 8.4c.5.38.8.97.8 1.6v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V10a2 2 0 0 1 .8-1.6l8-6a2 2 0 0 1 2.4 0l8 6Z"/><path d="m22 10-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 10"/></svg>
          <div class="grow">
            <h4 class="text-white font-semibold">Email me:</h4>

            <a class="mt-1 text-neutral-400 text-sm hover:text-neutral-200 focus:outline-hidden focus:text-neutral-200" href="https://mail.google.com/mail/?view=cm&fs=1&to=promptdummy@gmail.com" target="_blank">
              zarfan001@gmail.com
            </a>
          </div>
        </div>
        <!-- End Item -->

        
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
</div>
<!-- End Contact -->
  <!-- End About -->
{% endblock body %}